@model whiskyshop.Models.ResetPassModel

@{
    ViewBag.Title = "ResetPassword";
}

<h2 class="cattitle">Сброс пароля</h2>
<table width="100%" border="0"><tr><td width="1%"></td><td>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.Token)

        <div class="editor-label">
            @Html.LabelFor(model => model.NewPass)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NewPass)
            @Html.ValidationMessageFor(model => model.NewPass)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmNewPass)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConfirmNewPass)
            @Html.ValidationMessageFor(model => model.ConfirmNewPass)
        </div>

        <p><br>
            <input type="submit" value="Сменить пароль" />
        </p>
    </fieldset>
}
</td></tr></table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
